language: node_js
node_js:
  - "stable"
  - "4.1"
  - "4.0"
  - "0.12"
  - "iojs"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libgtk2.0-0
      - libasound2
      - libpulse0
      - libstdc++6
      - g++-4.8
sudo: false
